nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 1em;
    .nav-logo {
        img {
            max-width: 100%;
            width: 100px;
        }
    }
}